{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Ndamvetsa {% block title %} {% endblock %}</title>
</head>
<body class="bg-gray-100 flex flex-col justify-center items-center w-full">
        <!-- Nav bar -->
        <nav class="flex justify-between items-center bg-gray-50 shadow-md w-full px-8 py-4">
            <h1 class="text-blue-400 text-3xl hover:text-blue-500"><a href="{% url 'main:index' %}">Ndamvetsa</a></h1>
            <h2 class="underline text-xl "><a href="{% url 'main:signup'%}">Signup</a></h2>
        </nav>
    
        <!-- Search bar -->
        <section class="my-10 w-10/12">
            <form action="{% url 'main:search' %}" method="post">
                {% csrf_token %}
                <input class="w-full px-6 py-4 rounded bg-blue-100" type="search" name="searched" placeholder="search">
            </form>
        </section>
    {% block content %}
    {% endblock %}
</body>
</html>